vagrant.deb

##_local_.terraform_directories_and_files

**/.terraform/*
.terraform*

!.terraformrc

#__.tfstate_files

*.tfstate
*.tfstate.*

terraform.tfvars

##_local_auth_keys

#__yandex_service

authorized_key.json